body { font-family: 'Inter', sans-serif; }
.page-content { display: none; }
.nav-link.active { background-color: #4f46e5; color: white; font-weight: 600; }
.dark .nav-link.active { background-color: #6366f1; }
.nav-link:not(.active):hover, .nav-link-sub:hover { background-color: #f3f4f6; color: #1f2937; }
.dark .nav-link:not(.active):hover, .dark .nav-link-sub:hover { background-color: #374151; color: #f9fafb; }
.nav-link-sub.active { color: #4f46e5; font-weight: 600; }
.dark .nav-link-sub.active { color: #a5b4fc; }
.modal { transition: opacity 0.3s ease; }
.modal-content { transition: all 0.3s ease; }
.modal.opacity-0 .modal-content { transform: scale(0.95); }
#sidebar { transition: transform 0.3s ease-in-out; }
details > summary { list-style: none; }
details > summary::-webkit-details-marker { display: none; }
.table-fixed { table-layout: fixed; width: 100%; }
.force-light-theme { background-color: white !important; color: black !important; }
.force-light-theme * { color: black !important; border-color: black !important; }
/* Styles for Tabs in Modal & Pages */
.tab-button.active { border-color: #4f46e5; color: #4f46e5; font-weight: 600; }
.dark .tab-button.active { border-color: #818cf8; color: #818cf8;}
.tab-content { display: none; }
.tab-content.active { display: block; }

